{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "php:\/\/stderr",
        "stryker": {
            "report": "master"
        }
    },
    "mutators": {
        "@default": true,
        "global-ignoreSourceCodeByRegex": [
            ".*bool \\$useCache = true.*"
        ],
        "LogicalAndSingleSubExprNegation": {
            "ignoreSourceCodeByRegex": [
                ".*if \\(\\$enableIdn .*"
            ]
        },
        "IfNegation": {
            "ignoreSourceCodeByRegex": [
                ".*if \\(function_exists\\('json_validate'\\).*"
            ]
        },
        "FalseValue": {
            "ignore": [
                "Yiisoft\\Validator\\EmptyCondition\\NeverEmpty::__invoke",
                "Yiisoft\\Validator\\EmptyCondition\\WhenNull::__invoke"
            ]
        }
    }
}
