<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
         verbose="true"
         failOnRisky="true"
         failOnWarning="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         executionOrder="random"
         bootstrap="tests/autoload.php"
         resolveDependencies="true">
    <php>
        <ini name="error_reporting" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="Validator">
            <directory>./tests</directory>
            <exclude>./tests/DataSet/PHP81</exclude>
            <exclude>./tests/Php81</exclude>
        </testsuite>

        <testsuite name="Validator 81">
            <directory phpVersion="8.1.0" phpVersionOperator=">=">./tests/DataSet/PHP81</directory>
            <directory phpVersion="8.1" phpVersionOperator=">=">./tests/Php81</directory>
        </testsuite>
    </testsuites>
    <extensions>
        <extension class="Yiisoft\Validator\Tests\MockerExtension"/>
    </extensions>
    <coverage>
        <include>
            <directory>./src</directory>
        </include>
    </coverage>
</phpunit>
